:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.918);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100vh;
  margin: auto;
  text-align: center;
}

button {
  border: 0;
  background-color: transparent;
  margin: auto;
  display: inline;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

.twoMen {
  width: 100%;
  max-width: 30vw;
  height: auto;
  max-height: 60vh;

  position: absolute;
  bottom: -1rem;
  left: 2em;
}

.controls {
  position: absolute;
  z-index: 3;

  bottom: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.controls img {
  cursor: pointer;
  width: 100px;
  margin: 0 1em;
  transition: 0.05s all ease-in;
}

.controls img:hover {
  transform: scale(1.1);
}

.controls img:active {
  transform: scale(0.95);
}